<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crowoj.api.dao.TagDao">
    <select id="searchList" resultType="com.crowoj.api.dto.TagDTO">
        select t.*,u.nickname as nickname
        from tag as t,`user` as u
        where t.uid = u.uid
        and (
            u.nickname like concat('%',#{search},'%') or
            t.tag_name like concat('%',#{search},'%')
            )
        order by t.tid DESC
    </select>

    <select id="getTagByTagId" resultType="com.crowoj.api.dto.TagDTO">
        SELECT
            t.*,
            GROUP_CONCAT( p.pid ) as pid
        FROM
            tag AS t
                LEFT JOIN ( problem_tag AS pt, problem AS p ) ON pt.problem_id = p.pid
                AND pt.tag_id = t.tid
        WHERE
            t.tid = #{tid}
        GROUP BY
            t.tid
    </select>


</mapper>